.container {
  height: 100vh;
  width: 100vw;
}

.mat {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #421c29;
}

.table-cards-container {
  display: grid;
  align-items: center;
}
